.orderWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px 15px 5px 15px;
}

/* 좌측 필터 */
.filterWrap {
  width: auto;
}
.filterWrap > ul {
  display: flex;
}
.filterWrap > ul > li {
  margin-right: 15px;
}
.filterWrap > ul > li:last-child {
  margin-right: 0;
}
.filterWrap > ul > li > a {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  color: #404040;
}
.filterWrap > ul > li > a:hover {
  color: #737373;
}
.filterWrap > ul > li > a.addClass {
  color: #f3887e;
}

/* 좌측 서치 */
.searchWrap {
  width: auto;
}
.searchWrap > label {
  cursor: pointer;
  display: inline-block;
  height: 47px;
  border-radius: 3px;
  background: #ffffff;
  border: 1px solid #f3887e;
}
.searchWrap > label > input {
  font-size: 16px;
  color: #555;
  height: 45px;
  padding: 0 15px;
  border: 0;
  background: none;
  vertical-align: top;
}
.searchWrap > label > input::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #f3887e;
}
.searchWrap > label > img {
  width: auto;
  height: 100%;
  vertical-align: top;
  background-color: #f3887e;
}

@media all and (max-width: 620px) {
  .orderWrap {
    display: block;
  }
  .filterWrap {
    padding-bottom: 10px;
  }
  .filterWrap > ul {
    display: flex;
    justify-content: right;
  }
  .filterWrap > ul > li > a {
    font-size: 12px;
  }
  .searchWrap {
    width: 100%;
  }
  .searchWrap > label {
    display: flex;
    justify-content: space-between;
    height: 42px;
  }
  .searchWrap > label > input {
    flex: 0 1 100%;
    font-size: 12px;
    height: 40px;
  }
}
