.modalInput {
  width: 100%;
  max-width: 300px;
  font-size: 24px;
  line-height: 160%;
  font-weight: 400;
  padding: 5px 10px;
  margin-top: 8px;
  margin-bottom: 3px;
  border-radius: 3px;
  border: 2px solid #d8d8d8;
  background: #f7fafb;
}

.modalInput::placeholder {
  font-size: 24px;
  font-weight: 400;
  vertical-align: bottom;
  line-height: 1.45em;
  color: #969696;
}

.label {
  font-size: 18px;
  margin: 10px 0;
}

.modalInput:focus {
  border: 4px solid #bebbbb;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #f3887e;
  background-color: #fbe8d2;
}

.error {
  color: #b40e0e;
  margin: 5px 0 10px;
}

.form {
  margin-bottom: 1rem;
}

.form input,
.form label {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 8px;
}

.form input,
.form select {
  width: 100%;
  max-width: 300px;
  font-size: 24px;
  font-weight: 400;
  margin: 0 auto;
  padding: 5px 15px;
  border-radius: 3px;
  border: 2px solid #d8d8d8;
  background: #f7fafb;
}

.buttonWrap {
  max-width: 300px;
  margin: 0 auto;
}

.modalButton {
  width: 100%;
  padding: 20px 20px;
  background-color: #f3887e;
  border-radius: 5px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.45em;
  margin-top: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
}
.modalButton:hover {
  color: #000;
}

.modalOauth {
  width: 100%;
  padding: 20px 10px;
  background-color: #404040;
  border-radius: 3px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.45em;
  border: none;
  cursor: pointer;
}

.modalOauth:hover,
.modalOauth:active,
.modalButton:hover,
.modalButton:active {
  color: #f3887e;
}

.modalOauth img {
  vertical-align: middle;
  margin-right: 5px;
}
.modalOauth span {
  vertical-align: middle;
}

.modalOauth:disabled,
.modalOauth:disabled:hover,
.modalOauth:disabled:active,
.modalButton:disabled,
.modalButton:disabled:hover,
.modalButton:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

@media all and (max-width: 480px) {
  .modalInput,
  .form input {
    font-size: 16px;
    padding: 5px 10px;
  }
  .modalInput::placeholder {
    font-size: 16px;
  }
  .modalButton,
  .modalOauth {
    padding: 15px 10px;
    font-size: 20px;
    border-radius: 3px;
  }
}
