ul.postcardwrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: green;
}

ul.postcardwrapper li{
  padding: 15px;
  width: 33.333333%;
  position: relative;
  background-color: pink;
}

ul.postcardwrapper li a{
  display: block;
  background-color: skyblue;
  }

.postcardpicture{
  height: 80px;
  background: url('../images/postcardpicture.jpg');
  background-position: 50%;
  background-size: 330px;
  border-radius: 5px 5px 0px 0px;
}




/*
.PostCard{
    position: absolute;
    width: 330px;
    height: 224px;
    left: 210px;
    top: 543px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}


  .postcardpicture{
    position: absolute;
    width: 330px;
    height: 80px;
    left: 210px;
    top: 543px;

    
    background: url('../images/postcardpicture.jpg');
    background-position: 50%;
    background-size: 330px;
    border-radius: 5px 5px 0px 0px;
  }
  .postcardpicture2{
    position: absolute;
    width: 330px;
    height: 80px;
    left: 554px;
    top: 543px;
    
    background: url('../images/postcardpicture2.jpg');
    background-position: 50%;
    background-size: 330px;
    border-radius: 5px 5px 0px 0px;
  }
  .postcardpicture3{
    position: absolute;
    width: 330px;
    height: 80px;
    left: 898px;
    top: 543px;
    
    background: url('../images/postcardpicture3.jpg');
    background-position: 50%;
    background-size: 330px;
    border-radius: 5px 5px 0px 0px;
  }
  .postcardpicture4{
    position: absolute;
    width: 330px;
    height: 80px;
    left: 210px;
    top: 782px;
    
    background: url('../images/postcardpicture4.jpg');
    background-position: 50%;
    background-size: 330px;
    border-radius: 5px 5px 0px 0px;
  }
  .postcardpicture5{
    position: absolute;
    width: 330px;
    height: 80px;
    left: 554px;
    top: 782px;
    
    background: url('../images/postcardpicture4.jpg');
    background-position: 50%;
    background-size: 330px;
    border-radius: 5px 5px 0px 0px;
  }
  .postcardpicture6{
    position: absolute;
    width: 330px;
    height: 80px;
    left: 898px;
    top: 782px;
    
    background: url('../images/postcardpicture.jpg');
    background-position: 50%;
    background-size: 330px;
    border-radius: 5px 5px 0px 0px;
  }
  .postcardpicture7{
    position: absolute;
    width: 330px;
    height: 80px;
    left: 210px;
    top: 1021px;
    
    background: url('../images/postcardpicture2.jpg');
    background-position: 50%;
    background-size: 330px;
    border-radius: 5px 5px 0px 0px;
  }
  .postcardpicture8{
    position: absolute;
    width: 330px;
    height: 80px;
    left: 554px;
    top: 1021px;
    
    background: url('../images/postcardpicture4.jpg');
    background-position: 50%;
    background-size: 330px;
    border-radius: 5px 5px 0px 0px;
  }
  .postcardpicture9{
    position: absolute;
    width: 330px;
    height: 80px;
    left: 898px;
    top: 1021px;
    
    background: url('../images/postcardpicture2.jpg');
    background-position: 50%;
    background-size: 330px;
    border-radius: 5px 5px 0px 0px;
  }

  .postcardments{
    position: absolute;
    width: 286px;
    height: 32px;
    left: 231px;
    top: 638px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #222222;
    
  }
  .postcardments2{
    position: absolute;
    width: 286px;
    height: 32px;
    left: 575px;
    top: 638px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #222222;
    
  }
  .postcardments3{
    position: absolute;
    width: 286px;
    height: 32px;
    left: 919px;
    top: 638px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #222222;
  }
  .postcardments4{
    position: absolute;
    width: 286px;
    height: 32px;
    left: 231px;
    top: 877px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #222222;    
  }
  .postcardments5{
    position: absolute;
    width: 286px;
    height: 32px;
    left: 575px;
    top: 877px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #222222;
  }
  .postcardments6{
    position: absolute;
    width: 286px;
    height: 32px;
    left: 919px;
    top: 877px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #222222;
  }
  .postcardments7{
    position: absolute;
    width: 286px;
    height: 32px;
    left: 231px;
    top: 1116px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #222222;
  }
  .postcardments8{
    position: absolute;
    width: 286px;
    height: 32px;
    left: 575px;
    top: 1116px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #222222;
  }
  .postcardments9{
    position: absolute;
    width: 286px;
    height: 32px;
    left: 919px;
    top: 1116px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    
    color: #222222;
  }

  .image {
    position: absolute;
    width: 22.09px;
    height: 16px;
    left: 230.71px;
    top: 700px;
  }
  .number {
    position: absolute;
    width: 30.38px;
    line-height: 17.38px;
    left: 260.18px;
    top: 703px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #737373;
  }
.image2{
    position: absolute;
    width: 22.09px;
    height: 17px;
    left: 291.46px;
    top: 700px;
}
.number2{
    position: absolute;
    width: 30.38px;
    left: 320.32px;
    top: 703px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #737373;
}
.image3{
    position: absolute;
    width: 22.09px;
    height: 17px;
    left: 343.69px;
    top: 700px;
}
.number3{
    position: absolute;
    width: 37.28px;
    left: 375.55px;
    top: 704px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17.38px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #737373;
}
.image4{
    position: absolute;
    width: 22.09px;
    height: 17px;
    left: 574.71px;
    top: 700px;
}
.number4{
    position: absolute;
    width: 30.38px;
    left: 598.18px;
    top: 702px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17.38px;
    display: flex;
    align-items: center;
    text-align: center;   
}

.image5{
    position: absolute;
    width: 22.09px;
    height: 17px;
    left: 635.46px;
    top: 700px;
}
.number5{
  position: absolute;
  width: 30.38px;
  left: 660.32px;
  top: 702px;
  
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17.38px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #737373;
}
.image6{
  position: absolute;
  width: 22.09px;
  height: 17px;
  left: 690.69px;
  top: 700px;
}
.number6{
  position: absolute;
  width: 37.28px;
  left: 715.55px;
  top: 702px;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17.38px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #737373;
}
.image7{
  position: absolute;
  width: 22.09px;
  height: 17px;
  left: 918.71px;
  top: 700px;
}
.number7{
    position: absolute;
    width: 30.38px;
    left: 947.18px;
    top: 703px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17.38px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #737373;   
}
.image8{
  position: absolute;
  width: 22.09px;
  height: 17px;
  left: 979.46px;
  top: 700px;
}
.number8{
position: absolute;
width: 30.38px;
left: 1009.32px;
top: 703px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17.38px;
display: flex;
align-items: center;
text-align: center;

color: #737373;
}

.image9{
position: absolute;
width: 22.09px;
height: 17px;
left: 1034.69px;
top: 700px;
}
.number9{
position: absolute;
width: 37.28px;
left: 1064.55px;
top: 703px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17.38px;
display: flex;
align-items: center;
text-align: center;

color: #737373;
}
.image10{
  position: absolute;
  width: 22.09px;
  height: 17px;
  left: 230.71px;
  top: 939px;
}
.number10{
    position: absolute;
    width: 30.38px;
    left: 259.18px;
    top: 941px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17.38px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #737373;   
}
.image11{
  position: absolute;
  width: 22.09px;
  height: 17px;
  left: 291.46px;
  top: 939px;
}
.number11{
position: absolute;
width: 30.38px;
left: 321.32px;
top: 941px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17.38px;
display: flex;
align-items: center;
text-align: center;

color: #737373;
}
.image12{
position: absolute;
width: 22.09px;
height: 17px;
left: 346.69px;
top: 939px;
}
.number12{
position: absolute;
width: 37.28px;
left: 376.55px;
top: 941px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17.38px;
display: flex;
align-items: center;
text-align: center;

color: #737373;
}

.image13{
  position: absolute;
  width: 22.09px;
  height: 16px;
  left: 574.71px;
  top: 939px;
}
.number13{
    position: absolute;
    width: 30.38px;
    left: 598.18px;
    top: 941px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17.38px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #737373;   
}
.image14{
  position: absolute;
  width: 22.09px;
  height: 16px;
  left: 635.46px;
  top: 939px;

}
.number14{
position: absolute;
width: 30.38px;
left: 660.32px;
top: 941px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17.38px;
display: flex;
align-items: center;
text-align: center;

color: #737373;
}
.image15{
position: absolute;
width: 22.09px;
height: 16px;
left: 690.69px;
top: 939px;
}
.number15{
position: absolute;
width: 37.28px;
left: 715.55px;
top: 941px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17.38px;
display: flex;
align-items: center;
text-align: center;

color: #737373;
}
.image16{
  position: absolute;
  width: 22.09px;
  height: 16px;
  left: 918.71px;
  top: 939px;
}
.number16{
    position: absolute;
    width: 30.38px;
    left: 942.18px;
    top: 941px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17.38px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #737373;   
}

.image17{
  position: absolute;
  width: 22.09px;
  height: 16px;
  left: 979.46px;
  top: 939px;

}
.number17{
position: absolute;
width: 30.38px;
left: 1004.32px;
top: 941px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17.38px;
display: flex;
align-items: center;
text-align: center;

color: #737373;
}
.image18{
position: absolute;
width: 22.09px;
height: 16px;
left: 1034.69px;
top: 939px;
}
.number18{
position: absolute;
width: 37.28px;
left: 1059.55px;
top: 941px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17.38px;
display: flex;
align-items: center;
text-align: center;

color: #737373;
}
.image19{
  position: absolute;
  width: 22.09px;
  height: 16px;
  left: 230.71px;
  top: 1178px;
}
.number19{
    position: absolute;
    width: 30.38px;
    left: 254.18px;
    top: 1180px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17.38px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #737373;   
}
.image20{
  position: absolute;
  width: 22.09px;
  height: 16px;
  left: 291.46px;
  top: 1178px;

}
.number20{
position: absolute;
width: 30.38px;
left: 316.32px;
top: 1180px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17.38px;
display: flex;
align-items: center;
text-align: center;

color: #737373;
}

.image21{
position: absolute;
width: 22.09px;
height: 16px;
left: 346.69px;
top: 1178px;
}
.number21{
position: absolute;
width: 37.28px;
left: 371.55px;
top: 1180px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17.38px;
display: flex;
align-items: center;
text-align: center;

color: #737373;
}
.image22{
  position: absolute;
  width: 22.09px;
  height: 16px;
  left: 574.71px;
  top: 1178px;
}
.number22{
    position: absolute;
    width: 30.38px;
    left: 598.18px;
    top: 1180px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17.38px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #737373;   
}
.image23{
  position: absolute;
  width: 22.09px;
  height: 16px;
  left: 635.46px;
  top: 1178px;

}
.number23{
position: absolute;
width: 30.38px;
left: 660.32px;
top: 1180px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17.38px;
display: flex;
align-items: center;
text-align: center;

color: #737373;
}

.image24{
position: absolute;
width: 22.09px;
height: 16px;
left: 690.69px;
top: 1178px;
}
.number24{
position: absolute;
width: 37.28px;
left: 715.55px;
top: 1180px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17.38px;
display: flex;
align-items: center;
text-align: center;

color: #737373;
}
.image25{
  position: absolute;
  width: 22.09px;
  height: 16px;
  left: 918.71px;
  top: 1178px;
}
.number25{
    position: absolute;
    width: 30.38px;
    left: 942.18px;
    top: 1180px;
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17.38px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #737373;   
}
.image26{
  position: absolute;
  width: 22.09px;
  height: 16px;
  left: 979.46px;
  top: 1178px;

}
.number26{
position: absolute;
width: 30.38px;
left: 1004.32px;
top: 1180px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17.38px;
display: flex;
align-items: center;
text-align: center;

color: #737373;
}
.image27{
position: absolute;
width: 22.09px;
height: 16px;
left: 1034.69px;
top: 1178px;
}
.number27{
position: absolute;
width: 37.28px;
left: 1059.55px;
top: 1180px;

font-family: Noto Sans KR;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17.38px;
display: flex;
align-items: center;
text-align: center;

color: #737373;
}

.postline{
  position: absolute;
  width: 288.58px;
  height: 0px;
  left: 230.71px;
  top: 724px;

  border: 1px solid #E6E9EB;
}
.postline2{
  position: absolute;
  width: 288.58px;
  height: 0px;
  left: 574.71px;
  top: 724px;

  border: 1px solid #E6E9EB;
}
.postline3{
  position: absolute;
  width: 288.58px;
  height: 0px;
  left: 918.71px;
  top: 724px;

  border: 1px solid #E6E9EB;
}
.postline4{
  position: absolute;
  width: 288.58px;
  height: 0px;
  left: 230.71px;
  top: 963px;
  
  border: 1px solid #E6E9EB;
}
.postline5{
  position: absolute;
  width: 288.58px;
  height: 0px;
  left: 574.71px;
  top: 963px;
  
  border: 1px solid #E6E9EB;
}
.postline6{
  position: absolute;
  width: 288.58px;
  height: 0px;
  left: 918.71px;
  top: 963px;
  
  border: 1px solid #E6E9EB;
}
.postline7{
  position: absolute;
  width: 288.58px;
  height: 0px;
  left: 230.71px;
  top: 1202px;
  
  border: 1px solid #E6E9EB;
}
.postline8{
  position: absolute;
  width: 288.58px;
  height: 0px;
  left: 574.71px;
  top: 1202px;
  
  border: 1px solid #E6E9EB;
}
.postline9{
  position: absolute;
  width: 288.58px;
  height: 0px;
  left: 918.71px;
  top: 1202px;
  
  border: 1px solid #E6E9EB;
}

.postusericon{
  position: absolute;
  width: 14px;
  height: 14px;
  left: 233.71px;
  top: 735px;
}
.postnickname{
  position: absolute;
  width: 73.18px;
  left: 240px;
  top: 735px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  
  color: #333333;
}
.postusericon2{
  position: absolute;
  width: 14px;
  height: 14px;
  left: 577.71px;
  top: 735px;
}
.postnickname2{
  position: absolute;
  width: 73.18px;
  left: 585px;
  top: 735px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  
  color: #333333;
}
.postusericon3{
  position: absolute;
  width: 14px;
  height: 14px;
  left: 921.71px;
  top: 735px;
}
.postnickname3{
  position: absolute;
  width: 73.18px;
  left: 929px;
  top: 735px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  
  color: #333333;
}
.postusericon4{
  position: absolute;
  width: 14px;
  height: 14px;
  left: 233.71px;
  top: 974px;
}
.postnickname4{
  position: absolute;
  width: 73.18px;
  left: 241px;
  top: 974px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  
  
  color: #333333;
}
.postusericon5{
  position: absolute;
  width: 14px;
  height: 14px;
  left: 577.71px;
  top: 974px;  
}
.postnickname5{
  position: absolute;
  width: 73.18px;
  left: 585px;
  top: 974px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  
  
  color: #333333;
}
.postusericon6{
  position: absolute;
  width: 14px;
  height: 14px;
  left: 921.71px;
  top: 974px;
}
.postnickname6{
  position: absolute;
  width: 73.18px;
  left: 929px;
  top: 974px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  
  
  color: #333333;
}
.postusericon7{
  position: absolute;
  width: 14px;
  height: 14px;
  left: 233.71px;
  top: 1213px;
}
.postnickname7{
  position: absolute;
  width: 73.18px;
  left: 241px;
  top: 1213px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  
  
  color: #333333;
}
.postusericon8{
  position: absolute;
  width: 14px;
  height: 14px;
  left: 577.71px;
  top: 1213px;
}
.postnickname8{
  position: absolute;
  width: 73.18px;
  left: 585px;
  top: 1213px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  
  
  color: #333333;
}
.postusericon9{
  position: absolute;
  width: 14px;
  height: 14px;
  left: 921.71px;
  top: 1213px;
}
.postnickname9{
  position: absolute;
  width: 73.18px;
  left: 929px;
  top: 1213px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  
  
  color: #333333;
}

.posttime{
  position: absolute;
  width: 71.8px;
  height: 14px;
  left: 469.49px;
  top: 735px;
  
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  
  color: #737373;
}
.posttime2{
  position: absolute;
  width: 71.8px;
  height: 14px;
  left: 813.49px;
  top: 735px;
  
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  
  color: #737373;
}
.posttime3{
  position: absolute;
  width: 71.8px;
  height: 14px;
  left: 1157.49px;
  top: 735px;
  
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  
  color: #737373;
}
.posttime4{
  position: absolute;
  width: 71.8px;
  height: 14px;
  left: 469.49px;
  top: 974px;
  
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  
  color: #737373;
}
.posttime5{
  position: absolute;
  width: 71.8px;
  height: 14px;
  left: 813.49px;
  top: 974px;
  
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  
  color: #737373;
}
.posttime6{
  position: absolute;
  width: 71.8px;
  height: 14px;
  left: 1157.49px;
  top: 974px;
  
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  
  color: #737373;
}
.posttime7{
  position: absolute;
  width: 71.8px;
  height: 14px;
  left: 469.49px;
  top: 1213px;
  
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  
  color: #737373;
}
.posttime8{
  position: absolute;
  width: 71.8px;
  height: 14px;
  left: 813.49px;
  top: 1213px;
  
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  
  color: #737373;
}
.posttime9{
  position: absolute;
  width: 71.8px;
  height: 14px;
  left: 1157.49px;
  top: 1213px;
  
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  
  color: #737373;
}
*/