.modalButton {
  width: 300px;
  padding: 21px 0 21px 0;
  background-color: #f3887e;
  border-radius: 5px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.45em;
  margin-top: 8px;
  margin-bottom: 20px;
}

.modalOauth {
  width: 300px;
  padding: 17px 0 17px 0;
  background-color: #404040;
  border-radius: 3px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.45em;
}
