main {
  background-color: #fffff9;
}

.container {
  width: 100vw;
  max-width: 873px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 50px;
  transform: translateY(-80px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.select {
  width: 100%;
}

.title {
  width: 100%;
  margin: 20px 0;
  padding: 20px 0px;
  display: flex;
  color: #404040;
  align-items: center;
  font-size: 24px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.textarea {
  border: none;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  color: #404040;
  line-height: 160%;
  padding: 0px 0px 150px;
  resize: none;
}

.textarea::placeholder {
  color: #bfbfbf;
  font-size: 18px;
  color: #737373;
  font-weight: 300;
}

textarea:focus,
.select:focus {
  outline: none;
}

.title::placeholder {
  color: #bfbfbf;
  font-size: 30px;
  font-weight: 300;
}

.editBtnWrap {
  width: 100%;
  text-align: right;
}

.submit {
  width: 120px;
  height: 50px;
  background-color: #f3887e;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  line-height: 1.45em;
  border: none;
  cursor: pointer;
}

@media all and (max-width: 480px) {
  .container {
    padding: 30px;
  }
}
