.section1-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  /* padding: 0px 5px; */
}

.section1-header p {
  color: #7b7b7b;
  font-weight: 400;
  font-size: 14px;
}

.section1-content h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.45em;
  margin: 23px 0;
}

.section1-content {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid rgb(0, 0, 0, 0.2);
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.basicinfo span img {
  width: 21px;
  height: 21px;
}

.basicinfo span span {
  font-size: 18px;
  font-weight: 500;
  line-height: 23.44px;
  color: #404040;
  margin-left: 3px;
  position: relative;
  top: -4px;
}

.basicinfo span {
  font-size: 13px;
  font-weight: 400;
  color: #737373;
}

.section1 img {
  width: 24px;
  height: 24px;
}

.section1-content div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 20px 0px; */
}

.maincontent {
  margin: 42px 0px;
  line-height: 1.6em;
  color: #404040;
}

.reactions {
  display: flex;
  /* flex-direction: ; */
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.reactions p img {
  width: 16px;
  height: 16px;
  margin: 0px 1px;
}

.reactions p span {
  font-size: 12px;
  font-weight: 500;
  color: #737373;
  line-height: 1.45em;
  padding: 0 3px;
  position: relative;
  top: -3px;
}

.reactions div {
  position: absolute;
  color: #737373;
  margin-left: 3px;
  right: 15px;
}

.reactions div img {
  margin-right: 3px;
  position: relative;
  top: -3px;
  cursor: pointer;
}

.reactions div p {
  cursor: pointer;
}

.dotBox {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.dotBox.dotClick {
  border: 2px solid #404040;
  border-radius: 50%;
}

.dotMenu {
  width: 24px;
  height: 24px;
}

.menuBox {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  right: 15px;
  top: 20px;
  z-index: 10;
  background-color: #fff;
}

.hidden {
  display: none;
}

.modifyButton {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.45em;
  color: #404040;
}

.deleteButton {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.45em;
  color: #404040;
}
