.section1-header {
  width: 100%;
}

.section1-header p {
  font-size: 14px;
  font-weight: 400;
  color: #7b7b7b;
  line-height: 160%;
}

.section1-content h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.45em;
  padding-bottom: 20px;
}

.section1-content {
  margin: 20px 0 40px 0;
  padding: 20px 5px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.basicinfo > span {
  font-size: 17px;
  font-weight: 400;
  color: #737373;
  display: flex;
  align-items: center;
}

.basicinfo > span > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.basicinfo > span > span {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.44px;
  color: #404040;
}

.section1 img {
  width: 24px;
  height: 24px;
}

.section1-content div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.maincontent {
  font-size: 1.25em;
  color: #404040;
  line-height: 1.6em;
  padding: 45px 0 60px 0;
}

.reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.reactions .iconWrap p {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.reactions .iconWrap p img {
  width: 16px;
  height: 16px;
  margin-right: 2.5px;
}

.reactions .iconWrap p span {
  font-size: 15px;
  font-weight: 500;
  color: #737373;
  line-height: 1.45em;
}

.reactions .likeWrap {
  display: flex;
  align-items: center;
  color: #737373;
}

.reactions .likeWrap img {
  margin-right: 3px;
  cursor: pointer;
}

.reactions .likeWrap p {
  cursor: pointer;
}

.dotBox {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.dotBox.dotClick {
  border: 2px solid #555;
  border-radius: 50%;
}

.dotMenu {
  width: 24px;
  height: 24px;
}

.menuBox {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  right: 15px;
  top: 20px;
  z-index: 10;

  background-color: #fff;
}

.hidden {
  display: none;
}

.modifyButton {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.45em;
  color: #404040;
}

.deleteButton {
  border: none;
  background-color: transparent;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.45em;
  color: #404040;
}
