.writecomment {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: top;
  margin: 30px 0;
}

.writecomment img {
  width: 60px;
  height: 60px;
}

.textarea {
  width: 100%;
  height: 90px;
  margin-left: 20px;
  padding: 20px;
  font-size: 18px;
  color: #737373;
  border: 1px solid #f3887e;
  border-radius: 5px;
  resize: none;
}

.textarea:focus {
  outline: none;
  border: 2px solid #f3887e;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.45em;
  color: #f3887e;
}

.submitWrap {
  width: 100%;
  text-align: right;
}

.submitcom {
  width: 120px;
  height: 50px;
  background-color: #f3887e;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  line-height: 1.45em;
  border: none;
  cursor: pointer;
}
