/* .button {
  font: inherit;
  border: 2px solid #f3887e;
  background: #fcf6e7;
  color: #f3887e;
  font-weight: 900;
  font-size: 20px;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  /* left: 10px; */
/* } */

/* .button:hover,
.button:active {
  background: #f3887e;
  border-color: #fcf6e7;
  color: #fcf6e7;
  animation: bump 300ms ease-out;
} */
*/ .button:focus {
  outline: none;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
