.footer {
  width: 100%;
  padding: 80px 0;
  background: #404040;
}

.images {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #636363;
}

img {
  width: 32px;
  height: 32px;
}

.copyright {
  color: #d9d9d8;
  text-align: center;
  line-height: 1.45rem;
  font-weight: 300;
}
